[submodule "brieflow"]
	path = brieflow
	url = https://github.com/mgodzik/brieflow.git
[submodule "analysis/aggregation"]
	path = analysis/aggregation
	url = https://github.com/mgodzik/PDAC_analysis.git
